@using Microsoft.AspNetCore.Identity
@using SelfChef.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ 
    var user = await UserManager.GetUserAsync(User);
    var firstName = user?.FirstName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SelfChef</title>
    <link rel="icon" href="~/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/lib/slick/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/slick/slick-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/icons/icofont.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/theme.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/sidebar/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/tagsinput/tagsinput.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    @RenderSection("Head", required: false)
</head>
<body>
    <header>
        <div class="border-bottom p-3 d-none mobile-nav">
            <div class="row title d-flex align-items-center">
                <div class="col-6">
                    <a asp-controller="Home" asp-action="Index" class="text-decoration-none text-dark">
                        <img class="mr-2" style="width: 40%" src="~/img/logo.png" />
                    </a>
                </div>
                <div class="col-6">
                    <a class="toggle" href="#" style="float:right">
                        <i class="icofont-navigation-menu"></i>
                    </a>
                </div>
            </div>
            <a href="#" class="text-decoration-none">
                <form asp-controller="Home" asp-action="Index">
                    <div class="input-group mt-3 rounded shadow-sm overflow-hidden bg-white">
                        <div class="input-group-prepend">
                            <button type="submit" value="Filter" class="border-0 btn btn-outline-secondary text-success bg-white">
                                <i class="icofont-search"></i>
                            </button>
                        </div>
                        <input type="text" name="SearchString"
                               class="shadow-none border-0 form-control pl-0"
                               placeholder="Search for Recipes.."
                               value="@ViewBag.query"
                               aria-label=""
                               aria-describedby="basic-addon1" />
                    </div>
                </form>
            </a>
        </div>
        @*<div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <div class="slider round"></div>
                    <i class="icofont-moon"></i>
                </label>
                <em>Enable Dark Mode!</em>
            </div>*@
        <div class="bg-white shadow-sm osahan-main-nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-white osahan-header py-0 fixed-top shadow-sm">
                <div class="container">
                    <div class="d-flex align-items-start" style="width:25%">
                        <a asp-controller="Home" asp-action="Index" class="mr-auto navbar-brand mr-0">
                            <img class="ml-auto img-fluid logo-img" src="~/img/logo.png" />
                        </a>
                    </div>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="mx-auto my-2 d-flex align-items-center">
                        <form asp-controller="Home" asp-action="Index">
                            <div class="input-group mr-sm-2 col-lg-12" style="width: 35em">
                                <input type="text" name="SearchString"
                                       class="form-control"
                                       id="inlineFormInputGroupUsername2"
                                       value="@ViewBag.query"
                                       placeholder="Search for Recipes.." />
                                <div class="input-group-prepend">
                                    <button type="submit" value="Filter" class="btn btn-success rounded-right">
                                        <i class="icofont-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="d-flex align-items-end" style="width:25%">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
            <div class="bg-color-head">
                <div class="container menu-bar d-flex align-items-center">
                    <ul class="list-unstyled form-inline mb-0">
                        <li class="nav-item active">
                            <a class="nav-link text-white pl-0" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link text-white" href="#">Popular Recipes</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Category
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @{
                                    if (ViewBag.Category == "Breakfast")
                                    {
                                        <a class="dropdown-item active" asp-controller="Home" asp-action="Index" asp-route-category="Breakfast">Breakfast</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Breakfast">Breakfast</a>
                                    }
                                    if (ViewBag.Category == "Lunch")
                                    {
                                        <a class="dropdown-item active" asp-controller="Home" asp-action="Index" asp-route-category="Lunch">Lunch</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Lunch">Lunch</a>
                                    }
                                    if (ViewBag.Category == "Dinner")
                                    {
                                        <a class="dropdown-item active" asp-controller="Home" asp-action="Index" asp-route-category="Dinner">Dinner</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Dinner">Dinner</a>
                                    }
                                    if (ViewBag.Category == "Appetizer & Snack")
                                    {
                                        <a class="dropdown-item active" asp-controller="Home" asp-action="Index" asp-route-category="Appetizer & Snack">Appetizer & Snack</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Appetizer & Snack">Appetizer & Snack</a>
                                    }
                                    if (ViewBag.Category == "Dessert")
                                    {
                                        <a class="dropdown-item active" asp-controller="Home" asp-action="Index" asp-route-category="Dessert">Dessert</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Dessert">Dessert</a>
                                    }
                                    if (ViewBag.Category == "Drink")
                                    {
                                        <a class="dropdown-item active" asp-controller="Home" asp-action="Index" asp-route-category="Drink">Drink</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Drink">Drink</a>
                                    }
                                    if (ViewBag.Category == "Salade")
                                    {
                                        <a class="dropdown-item active" asp-controller="Home" asp-action="Index" asp-route-category="Salade">Salade</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Salade">Salade</a>
                                    }
                                    if (ViewBag.Category == "Soup")
                                    {
                                        <a class="dropdown-item active" asp-controller="Home" asp-action="Index" asp-route-category="Soup">Soup</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Soup">Soup</a>
                                    }
                                }
                            </div>
                        </li>
                        <li>
                            <a class="nav-link text-white" asp-controller="Ingredients" asp-action="Index">Ingredients</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Cuisine
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @{
                                    if (ViewBag.Cuisine == "Asian")
                                    {
                                        <a class="dropdown-item active" asp-controller="Home" asp-action="Index" asp-route-cuisine="Asian">Asian</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-cuisine="Asian">Asian</a>
                                    }
                                    if (ViewBag.Cuisine == "International")
                                    {
                                        <a class="dropdown-item active" asp-controller="Home" asp-action="Index" asp-route-cuisine="International">International</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-cuisine="International">International</a>
                                    }
                                    if (ViewBag.Cuisine == "Italian")
                                    {
                                        <a class="dropdown-item active" asp-controller="Home" asp-action="Index" asp-route-cuisine="Italian">Italian</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-cuisine="Italian">Italian</a>
                                    }
                                    if (ViewBag.Cuisine == "Mexican")
                                    {
                                        <a class="dropdown-item active" asp-controller="Home" asp-action="Index" asp-route-cuisine="Mexican">Mexican</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-cuisine="Mexican">Mexican</a>
                                    }
                                    if (ViewBag.Cuisine == "Middle Eastern")
                                    {
                                        <a class="dropdown-item active" asp-controller="Home" asp-action="Index" asp-route-cuisine="Middle Eastern">Middle Eastern</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-cuisine="Middle Eastern">Middle Eastern</a>
                                    }
                                }
                            </div>
                        </li>
                    </ul>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="list-unstyled form-inline mb-0 ml-auto">
                            <a asp-controller="Recipes" asp-action="AddOrEdit" class="text-white bg-offer px-3 py-2"><i class="icofont-plus"></i> Add Recipe</a>
                        </div>
                    }
                </div>
            </div>
            @if ((string)ViewData["Title"] != "Home" || ViewBag.category != null || ViewBag.cuisine != null)
            {
                <nav aria-label="breadcrumb" class="breadcrumb mb-0">
                    <div class="container">
                        <ol class="d-flex align-items-center mb-0 p-0">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index" class="text-success">Home</a>
                            </li>
                            @if (ViewBag.category != null)
                            {
                                <li class="breadcrumb-item active">
                                    Category
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    @ViewBag.category
                                </li>
                            }
                            else if (ViewBag.cuisine != null)
                            {
                                <li class="breadcrumb-item active">
                                    Cuisine
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    @ViewBag.cuisine
                                </li>
                            }
                            else
                            {
                                <li class="breadcrumb-item active" aria-current="page">
                                    @ViewData["Title"]
                                </li>
                            }
                        </ol>
                    </div>
                </nav>
            }
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <nav id="main-nav">
        <ul class="second-nav">
            @if (!SignInManager.IsSignedIn(User))
            {
                <li>
                    <a href="#"><i class="icofont-login mr-2"></i>Authentication</a>
                    <ul>
                        <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Sign In</a></li>
                        <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Sign Up</a></li>
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <a id="manage" class="nav-link text-dark ml-auto" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @firstName!</a>
                </li>
            }
            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li><a class="dropdown-item" href="#">Popular Recipes</a></li>
            <li>
                <a href="#">Category</a>
                <ul>
                    <li>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Breakfast">Breakfast</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Lunch">Lunch</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Dinner">Dinner</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Appetizer & Snack">Appetizer & Snack</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Dessert">Dessert</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Drink">Drink</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Salade">Salade</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Soup">Soup</a>
                    </li>
                </ul>
            </li>
            <li><a class="dropdown-item" asp-controller="Ingredients" asp-action="Index">Ingredients</a></li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-success m-0 p-0"><i class="icofont-logout mr-2"></i>Logout</button>
                    </form>
                </li>
            }
        </ul>
    </nav>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Self-Chef
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/lib/slick/slick.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/sidebar/hc-offcanvas-nav.js"></script>
    <script src="~/lib/tagsinput/tagsinput.js"></script>
    <script src="~/js/osahan.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>